.container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;



}

.square{
    background-color: Transparent;
    width: 45px;
    height: 45px;
    border: 1px solid;

}

.square2{
    width: 45px;
    height: 45px;
    display: inline;

}

.shipSquare{
    background-color: greenyellow;
    width: 45px;
    height: 45px;
    border: 1px solid;
}
.square:hover{
    background-color: whitesmoke;
}

.line{

    width: 450px;
    height: 45px;
}

.pole{
    display: flex;
    flex-direction: column;
}

.leftLine {
    display: flex;
}

.topLine {
    margin-left: 45px;
    display: flex;
    flex-direction: row;
}

:focus {
    outline-style: none;
    outline-width: 0px !important;
}